.banner-curiculum {
  height: 100vh;
  box-sizing: border-box;
  color: $orange;
  background: linear-gradient(
      to bottom,
      rgba($black-cv, 0.5),
      rgba($black-cv, 1)
    );
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  .banner-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    font-family: 'Averia Serif Libre';
    opacity: 0.8;
    text-shadow: black 0.1em 0.1em 0.1em;
    text-align: center;
    .banner-title {
      font-size: 90px;
    }
    .banner-subtitle {
      font-size: 60px;
    }
  }
}

#index {
  height: 100%;
  background: $black-cv;
  perspective: 100000px;
  display: flex;
  overflow: hidden;
}

#index .loaded .matrix {
  height: 100vh;
}

#index.loaded {
  animation: perspective 10s;
  animation-fill-mode: forwards;
}

.banner-languages {
  width: 140px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  right: 5px;
  top: 5px;
  display: flex;
  justify-content: space-between;
}

.scroll-down {
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  border-radius: 100%;
  border: rgba($orange, 0.3) 2px solid;
  color: $orange;
  &:hover {
    background: rgba($orange, 0);
    border: rgba($orange, 0.8) 2px solid;
    color: rgba($orange, 0.8);
  }
}

@media (max-width: 630px) {
  .scroll-down {
    width: 40px;
    height: 40px;
    font-size: 16px;
  }
}

@media (max-width: 790px) {
  .banner-curiculum {
    .banner-text {
      .banner-title {
        font-size: 56px;
      }
      .banner-subtitle {
        font-size: 48px;
      }
    }
  }
}

@media (max-width: 630px) {
  .banner-curiculum {
    .banner-text {
      .banner-title {
        font-size: 40px;
      }
      .banner-subtitle {
        font-size: 32px;
      }
    }
  }
  .banner-languages {
    width: 100px;
  }
}
